<template>
    <div>
        <h1>All Projects</h1>
        <span v-if="projects.error" class="text-danger">ERROR: {{projects.error}}</span>
          <v-simple-table
            fixed-header
            height="700px"
          >
            <template v-slot:default>
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Owners</th>
                    <th>Currency</th>
                    <th>Tokens Issued</th>
                    <th>Repositories</th>
                    <th>Total Funds Received</th>
                    <th>Name</th>
                </tr>
              </thead>
              <tbody>
                 <tr v-for="project in projects.items" :key="project.id">
                    <td>
                        <v-btn text color="deep-purple accent-4" v-on:click="handleSubmit($event)" >{{project.projectId}}</v-btn>
                    </td>
                    <td>
                        {{project.owners}}
                    </td>
                    <td>
                        {{project.currency}}
                    </td>
                    <td>
                        {{project.tokensIssued}}
                    </td>
                    <td>
                        <ul  v-for="repository in project.repositories" :key="repository.id" >
                            <li>{{repository.repositoryId}}</li>
                            <li>{{repository.apiKey}}</li>
                            <li>{{repository.url}}</li>
                        </ul>
                    </td>
                    <td>
                        {{project.totalFundsReceived}}
                    </td>
                    <td>
                        {{project.name}}
                    </td>
                 </tr>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        <form@submit.prevent="handleProjectCreation">
          <v-card
          elevation="2"
            class="mx-auto"
            max-width="344"
          >
          <v-card-text>
        <h1>Create a Project</h1>
                 <div class="form-group">
                    <label for="owners">Email Address of Owners</label>
                    <input type="text" v-model="owners" name="owners" class="form-control" />
                    <div v-show="submitted && !owners" class="invalid-feedback">An owner is required</div>

                    <label for="name">Name of Project</label>
                    <input type="text" v-model="name" name="name" class="form-control" />
                    <div v-show="submitted && !name" class="invalid-feedback">Name is required</div>
                    <label for="currency">Currency</label>
                    <input type="text" v-model="currency" name="currency" class="form-control" />
                    <div v-show="submitted && !currency" class="invalid-feedback">Currency is required</div>
                </div>

             
            </v-card-text>

            <v-card-actions>
                 <div class="form-group">
                    <button class="btn btn-error">Create Project</button>
                </div>
            </v-card-actions>
          </v-card> 
          </form>
        </div> 
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data () {
        return {
            headers: [
            {
                text: 'Name',
                align: 'start',
                sortable: false,
                value: 'name',
            },
            { text: 'Owners', value: 'owners' },
            { text: 'Currency', value: 'currency' },
            { text: 'Tokens Issued', value: 'tokensIssued' },
            { text: 'Repositories', value: 'repositories.repository' },
            { text: 'Total Funds Received', value: 'totalFundsReceived' },
            { text: 'Project Id', value: 'projectId' },            
            ],
            projectId: '',
            owners: '',
            name: '',
            currency: '',
            submitted: ''
        }
    },
    computed: {
        ...mapState({
            account: state => state.account,
            projects: state => state.projects.all
        })
    },
    created () {
        this.getAll();
    },
    methods: {
        ...mapActions('projects', ['getAll', 'getOneProject', 'postProject']),
        handleSubmit (e) {
            const  projectId  = e.target.innerHTML;
            localStorage.setItem('projectId', projectId);
            this.getOneProject( projectId );
        },
        handleProjectCreation (e) {
            this.submitted = true;
            const { owners, name, currency } = this;
            this.postProject( { owners, name, currency } )
        }
    }
};
</script>
<style>

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: underline;
}

</style>
