<template>
    <div>
        <h1>Trophies</h1>
        <em v-if="projects.loading">Loading trophies...</em>
        <span v-if="projects.error" class="text-danger">ERROR: {{projects.error}}</span>
          <v-simple-table
            fixed-header
            height="700px"
          >
            <template v-slot:default>
              <thead>
                <tr>
                    <th>Trophy Id</th>
                    <th>Justification</th>
                    <th>Owner</th>
                    <th>Project Id</th>
                    <th>Redeemed</th>
                    <th>Sequence Number</th>
                    <th>Timestamp</th>
                    <th>Author</th>
                </tr>
              </thead>
              <tbody>
                 <tr v-for="project in projects.items" :key="project.id">
                    <td>
                        {{project.trophyId}}
                    </td>
                    <td>
                        {{project.justification}}
                    </td>
                    <td>
                        {{project.owner}}
                    </td>
                    <td>
                        {{project.projectId}}
                    </ul>
                    </td>
                    <td>
                        {{project.redeemed}}
                    </td>
                    <td>
                        {{project.sequenceNumber}}
                    </td>
                    <td>
                        {{project.timestamp}}
                    </td>
                    <td>
                        {{project.author}}
                    </td>
                 </tr>
              </tbody>
            </template>
          </v-simple-table>
        
         <form@submit.prevent="handleRedeemToken">
           <v-card
            elevation="4"
            class="mx-auto"
            max-width="444"
           >
           <v-card-text>
            <h1>Redeem Token</h1>
             <div class="form-group">
                <label for="tokenIdSelected">Token Id</label>
                <input type="text" v-model="tokenIdSelected" name="tokenIdSelected" class="form-control" />
                <div v-show="submitted && !tokenIdSelected" class="invalid-feedback">A Token Id is required</div>

                <label for="depositAccount">Deposit Account</label>
                <input type="text" v-model="depositAccount" name="depositAccount" class="form-control" />
                <div v-show="submitted && !depositAccount" class="invalid-feedback">Name is required</div>
            </div>
            </v-card-text>
            <v-card-actions>
                <div class="form-group">
                    <button class="btn btn-error">Request Trophy</button>
                </div>
            </v-card-actions>
        </v-card>
        </form> 

        </div> 
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data () {
        return {
            author: '',
            justification: '',
            owner: '',
            projectId: '',
            sequenceNumber: '',
            timestamp: '',
            trophyId: '',
            submitted: '',
            tokenIdSelected: '',
            depositAccount: ''
        }
    },
    computed: {
        ...mapState({
            account: state => state.account,
            projects: state => state.projects.all
        })
    },
    created () {
        this.getTrophies("trophies");
    },
    methods: {
        ...mapActions('projects', ['redeemAToken']),
        handleRedeemToken (e) {
            this.submitted = true;
            const { tokenIdSelected, depositAccount } =  this;
            this.redeemAToken( {tokenIdSelected, depositAccount} );
        }
    }
};
</script>
<style>
button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: underline;
}

</style>