<template>
  <nav>

        <v-navigation-drawer
          dark app mini-variant-width="50"
          floating
          permanent
        >
          <v-list
            dense
            rounded
          >
            <v-list-item
              v-for="item in items"
              :key="item.title"
              link
              :to="item.route"
            >
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

  </nav>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import HeaderItems from '../components/HeaderItems'
export default {
    data () {
      return {
        items: [
          { title: 'Home', icon: 'mdi-view-dashboard', route: '/' },
          { title: 'Login', icon: 'mdi-login', route: '/login' },
          { title: 'Logout', icon: 'mdi-logout', route: '/login' }
        ],
        links: ['Home', 'Login', 'Logout'],
        mini: true,
      }
    }

};
</script>

<style scoped>
.border {
  border-left: 4px solid #0ba518;
}
/*.v-list-item--link::before { background-color: green; }*/
</style>